<!DOCTYPE html>
<html lang="sp">
  <head>
    <title>{{ site.title }}</title>
    <meta name="description" content="{{ site.description }}">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="icon" type="image/png" href="/images/favicon.ico">
    <script defer src="https://analytics.eu.umami.is/script.js" data-website-id="98a1cbd9-4af2-49fb-ad0d-c6155539efad"></script>
  </head>
  <body>
    <div class="container">
    <h1><a href="/">{{ site.title }}</a></h1>
    {{content}}
    <br>
    <p>2023, Contacta conmigo en <a href = "mailto:jatrini@jatrini.com">jatrini@jatrini.com</a>.</p>
    </div>
  </body>
</html>
