<!DOCTYPE html>
<html lang="sp">
  <head>
    <title>{{ site.title }}</title>
    <meta name="description" content="{{ site.description }}">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/css/style.css?v=c6c65768b589f3f5858ac2524a4c9491eebd8dc9">
  </head>
  <body>
    <div class="container-lg px-3 my-5 markdown-body">
    <h1><a href="./">{{ site.title }}</h1>
    <p>Mi Página personal.</p>
    <hr><br>
    {{content}}
    <hr><br>
    <p>Contacta conmigo en jatrini@jatrini.com.</p>
    </div>
  </body>
</html>
